<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DAL的应用程序集 -->
    <add key="BLLAssembly" value="BLL" />
    <!-- DAL的命名空间 -->
    <add key="BLLNameSpace" value="BLL" />
    <!-- DAL的应用程序集 -->
    <add key="DALAssembly" value="DAL" />
    <!-- DAL的命名空间 -->
    <add key="DALNameSpace" value="DAL" />
    <!-- DAL后缀,也就是使用的是哪种数据源 -->
    <add key="DALSuffix" value="EF" />

  </appSettings>
</configuration>